<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Class</title>
</head>
<body>

	<div layout:fragment="title"><span th:text="${classRoom.course.name}"></span></div>

	<div layout:fragment="content">
	
		<div class="ui padded stacked segment">
		
			<div class="ui grid">
				
				<div class="four wide column">
					<div class="ui fluid image mb-18">
						<img th:src="@{/resources/images/course.png}" alt="" />	
					</div>
				
					
					<a th:href="@{/public/{id}/apply(id=${classRoom.id})}" class="ui animated fade fluid red button">
						
						<span class="visible content">Apply Course</span>
						<span class="hidden content">
							<i class="smile icon"></i> Thank You!
						</span>
					
					</a>
				</div>
				
				<div class="twelve wide column mb-18">
					
					<!-- Class Title -->
					<div th:replace="fragments/class-info :: info"></div>
				
				
					<!-- Course Information -->
					<h3>Course Outline</h3>
					
					<p th:text="${classRoom.course.description}"></p>
				
					<div class="ui list">
						<div class="item" th:each="content : ${classRoom.course.contents}" >
							<i class="check icon"></i>
							<div class="content">
								<div class="header" th:text="${content.title}">Language Fundamentals</div>
								<div class="description" th:text="${content.details}">Collections are heterogeneous groups of components which are usually</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</body>
</html>