<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>

	<span layout:fragment="title"></span>

	<div layout:fragment="cover-image">
		<div class="ui raised image segment">
			<img class="ui rounded fluid image " alt=""
				th:src="@{/resources/images/cover.png}">
		</div>

		<div class="ui hidden divider"></div>
	</div>

	<div layout:fragment="content">
		<h3>You can apply!</h3>

		<!-- Classes that can be apply new students show as grid -->
		<div class="ui three column grid">

			<div class="column" th:each="item : ${classes}">

				<div class="ui fluid link card">
					<div class="image">
						<img th:src="@{/resources/images/course.png}" />
					</div>
					<div class="content">
						<div class="header">Course Name</div>
						<span>2020/10/02</span> 
						<span class="right floated label">180,000 MMK</span>
					</div>

				</div>
			</div>


		</div>

	</div>

</body>
</html>