<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Teachers</title>

<link rel="stylesheet" th:href="@{/resources/semantic.min.css}" />
<link rel="stylesheet" th:href="@{/resources/application.css}" />

<script th:src="@{/resources/jquery.min.js}"></script>
<script th:src="@{/resources/semantic.min.js}"></script>

</head>
<body>

	<nav class="ui teal inverted secondary pointing top fixed menu">

		<div class="ui container">

			<a th:href="@{/teacher}" class="active item"> <i class="home icon"></i>
				JDC Online Office
			</a>

			<a th:href="@{/teacher/courses}" class="item"> <i class="folder open outline icon"></i>
				Registrations
			</a>

			<a th:href="@{/teacher/classes}" class="item"> <i class="calendar outline icon"></i>
				Online Classes
			</a>

			<div class="right menu">

				<a class="item"> <i class="sign out icon"></i> Sign Out</a>
			</div>
		</div>

	</nav>
	
	<div class="ui container page-content">
		
		<div class="ui header">
			<span layout:fragment="title">Default Title</span>
		</div>
		
		<div layout:fragment="cover-image"></div>
		
		<div layout:fragment="content">
			Default Content
		</div>
	
	</div>
	
	

</body>
</html>