<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Students</title>
</head>
<body>

	<div layout:fragment="title">
		<i class="users icon"></i> Student in Class Room
	</div>
	
	<div layout:fragment="content">
		
		<div class="ui padded stacked segment">
			<div class="ui header">Class Informations</div>

			<div class="ui relaxed horizontal list">
				
				<div class="item">
					
					<div class="content">
						<div class="header">
							Course
						</div>
						<div class="description" th:text="${classRoom.course.name}">Course Name</div>
					</div>
				
				</div>
			
				<div class="item">
					
					<div class="content">
						<div class="header">
							Start Date
						</div>
						<div class="description" th:text="${classRoom.startDate}">Course Name</div>
					</div>
				
				</div>
	
				<div class="item">
					
					<div class="content">
						<div class="header">
							Days
						</div>
						<div class="description" th:text="${classRoom.days}">Course Name</div>
					</div>
				
				</div>
	
				<div class="item">
					
					<div class="content">
						<div class="header">
							Times
						</div>
						<div class="description" th:text="${classRoom.times}">Course Name</div>
					</div>
				
				</div>
	
	
			</div>
			
		</div>
		
		<div class="ui hidden divider"></div>
		
		<div id="statusTabs" class="ui top attached tabular menu">
		
			<a href="#" class="item active" data-tab="Apply">
				Apply
			</a>
			<a href="#" class="item" data-tab="Paid">
				Paid
			</a>
			<a href="#" class="item" data-tab="Attend">
				Attend
			</a>
		</div>
		
		<div class="ui bottom attached padded segment">
			<div class="ui tab active" data-tab="Apply">
				<div th:replace="fragments/class-student-table :: table(${students.get(T(com.jdc.online.model.entity.Registration.Status).Apply)})"></div>
			</div>
			
			<div class="ui tab" data-tab="Paid">
				<div th:replace="fragments/class-student-table :: table(${students.get(T(com.jdc.online.model.entity.Registration.Status).Paid)})"></div>
			</div>
	
			<div class="ui tab" data-tab="Attend">
				<div th:replace="fragments/class-student-table :: table(${students.get(T(com.jdc.online.model.entity.Registration.Status).Attend)})"></div>
			</div>
		
		</div>
		
		
		
		<script>
			$(() => $('#statusTabs .item').tab())
		
		</script>
	</div>

</body>
</html>