<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/teacher}">
<head>
<meta charset="UTF-8">
<title>Add Course</title>
</head>
<body>

	<div layout:fragment="title">
		Add New Course
	</div>
	
	
	<div layout:fragment="content">
	
		<div class="ui raised padded segment">
		
			<div class="ui grid">
			
				<div class="four wide column">
				
					<div class="ui fluid image mb-12">
						<img th:src="@{/resources/images/course.png}">
					</div>
					
					<button class="ui fluid blue button mb-12">
						<i class="upload icon"></i> Upload Photo
					</button>
				
					<button class="ui fluid blue button mb-12">
						<i class="plus icon"></i> Add Content
					</button>

					<button class="ui fluid blue button">
						<i class="save icon"></i> Save Course
					</button>

				</div>
				
				<div class="twelve wide column">
				
					<form class="ui form">
					
						<div class="ui header">Course Informations</div>
					
						<div class="three fields">
							<div class="field">
								<label>Code</label>
								<input type="text" />
							</div>
							<div class="field">
								<label>Name</label>
								<input type="text" />
							</div>
						</div>
						
						<div class="three fields">
						
							<div class="field">
								<label>Level</label>
								<input type="text" />
							</div>
						
							<div class="field">
								<label>Hours</label>
								<input type="number" />
							</div>

							<div class="field">
								<label>Fees</label>
								<input type="number" />
							</div>
						</div>
					
						<div class="field">
							<label>Requirement</label>
							<input type="text" />
						</div>
						
						<div class="field">
							<label>Description</label>
							<textarea rows="3"></textarea>
						</div>
						
						<div class="ui header">Course Contents</div>
					
					</form>
				
				</div>
			</div>
		
		</div>
	
	</div>


</body>
</html>