<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Add Course</title>
</head>
<body>

	<div layout:fragment="title">
		Add New Course
	</div>
	
	
	<div layout:fragment="content">
	
		<form th:action="@{/teacher/courses}" method="post" th:object="${data}" class="ui raised padded segment">
		
			<div class="ui grid">
			
				<div class="four wide column">
				
					<div class="ui fluid image mb-12">
						<img th:src="@{/resources/images/course.png}">
					</div>
					
					<button class="ui fluid blue button">
						<i class="save icon"></i> Save Course
					</button>

				</div>
				
				<div class="twelve wide column">
				
					<div class="ui form">
					
						<div class="ui header">Course Informations</div>
					
						<div class="three fields">
							<div class="field">
								<label>Code</label>
								<input th:field="*{code}" type="text" />
							</div>
							<div class="field">
								<label>Name</label>
								<input th:field="*{name}" type="text" />
							</div>
						</div>
						
						<div class="three fields">
						
							<div class="field">
								<label>Level</label>
								<select class="ui dropdown">
									<option value="Basic">Basic</option>
									<option value="Intermediate">Intermediate</option>
									<option value="Advance">Advance</option>
								</select>
							</div>
						
							<div class="field">
								<label>Hours</label>
								<input th:field="*{duration}" type="number" />
							</div>

							<div class="field">
								<label>Fees</label>
								<input th:field="*{fees}" type="number" />
							</div>
						</div>
					
						<div class="field">
							<label>Requirement</label>
							<input th:field="*{requirements}" type="text" />
						</div>
						
						<div class="field">
							<label>Description</label>
							<textarea rows="3" th:field="*{description}"></textarea>
						</div>
						
						<div class="ui header">Course Contents</div>
					
					</div>
				
				</div>
			</div>
		
		</form>
	
	</div>


</body>
</html>