<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Courses</title>
</head>
<body>

	<div layout:fragment="title">
		Course Management
	</div>

	<div layout:fragment="content">
	
		<div class="ui padded segment">
			<div class="ui header">
				<i class="search icon"></i> Search
			</div>
			
			<form th:action="@{/teacher/courses}" class="ui form">
				<div class="fields">
					
					<div class="field">
						<label>Code</label>
						<input name="code" type="text" placeholder="Search Code" />
					</div>
					
					<div class="field">
						<label>Name</label>
						<input name="name" type="text" placeholder="Search Name" />
					</div>

					<div class="field">
						<label>&nbsp;</label>
						<button class="ui icon labeled blue button">
							<i class="search icon"></i> Search
						</button>
						<a th:href="@{/teacher/courses/edit}" class="ui icon labeled red button">
							<i class="plus icon"></i> Add New
						</a>
					</div>

				</div>
			</form>
		</div>	
		
		
		<!-- Result Table -->
		<table class="ui table">
			
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Level</th>
					<th>Hours</th>
					<th>Fees</th>
					<th>Requirements</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="c : ${list}">
					<td>
						<a th:href="@{/teacher/courses/{id}(id=${c.id})}" th:text="${c.code}"></a>
					</td>
					<td th:text="${c.name}">Java SE</td>
					<td th:text="${c.level}">Basic</td>
					<td th:text="${c.duration + ' Hours'}">60 Hours</td>
					<td th:text="${c.fees + ' MMK'}">80,000 MMK</td>
					<td th:text="${c.requirements}">Basic Computer Usage</td>
					<td>
						<a th:href="@{/teacher/courses/edit(id=${c.id})}">
							<i class="pencil icon"></i>
						</a>
					</td>
				</tr>
				
			</tbody>
		</table>		
		
	</div>

</body>
</html>