<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Members</title>
</head>
<body>

	<div layout:fragment="title">
		Member Management
	</div>
	
	
	<div layout:fragment="content">
		
		<!-- Search -->
		<div class="ui padded segment">
			<div class="ui header">
				<i class="search icon"></i>
				Search
			</div>
			<form class="ui form">
				
				<div class="three fields">
					<div class="field">
						<label>Role</label>
						<select name="role" class="ui dropdown">
							<option>Office</option>
							<option>Teacher</option>
							<option>Student</option>
						</select>
					</div>
					
					<div class="field">
						<label>Name</label>
						<input name="name" type="text" placeholder="Search Name" />
					</div>
					
					<div class="field">
						<label>&nbsp;</label>
						<button class="ui animated blue button">
							<div class="visible content">
								Search
							</div>
							<div class="hidden content">
								<i class="search icon"></i>							
							</div>
						</button>
						
						<button type="button" id="addBtn" class="ui animated red button">
							<div class="visible content">
								Add New
							</div>
							<div class="hidden content">
								<i class="plus icon"></i>							
							</div>
						</button>
					</div>
				
				</div>
			</form>
		</div>
		
		<!-- Member List -->
		<table class="ui table">
			<thead>
				<tr>
					<th>Role</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="acc : ${list}">
					<td th:text="${acc.role}">Office</td>
					<td th:text="${acc.name}">Thidar</td>
					<td th:text="${acc.phone}">098767888</td>
					<td th:text="${acc.email}">thidar@gmail.com</td>
					<td th:text="${acc.deleted ? 'Deleted' : 'Active'}"></td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		<!-- Edit Dialog -->
		<form class="ui tiny modal" th:action="@{/office/members}" method="post" th:object="${account}">
		
			<div class="header">Add New Member</div>
			
			<div class="ui form content">
				
				<!-- Role -->
				<div class="field">
					<label>Role</label>
					<select th:field="*{role}" class="ui dropdown">
						<option value="Office">Office</option>
						<option value="Teacher">Teacher</option>
					</select>
				</div>
				
				<!-- Name -->
				<div class="field">
					<label>Name</label>
					<input th:field="*{name}" type="text" placeholder="Enter Name" />
				</div>
				
				<!-- Phone -->
				<div class="field">
					<label>Phone</label>
					<input th:field="*{phone}" type="tel" placeholder="Enter Phone" />
				</div>
				
				<!-- Email -->
				<div class="field">
					<label>Email</label>
					<input th:field="*{email}" type="email" placeholder="Enter Email" />
				</div>
			
			</div>
			
			<div class="actions">

				<button type="button" class="ui animated blue cancel button">
					<div class="visible content">Close</div>
					<div class="hidden content">
						<i class="delete icon"></i>
					</div>
				</button>
			
				<button type="submit" class="ui animated red button">
					<div class="visible content">Save</div>
					<div class="hidden content">
						<i class="save icon"></i>
					</div>
				</button>
				
			</div>
		
		</form>
		
		<script>
			$(() => {
				
				$('.ui.modal').modal({
					autofocus: false,
					closable: false
				})
				
				$('#addBtn').click(() => $('.ui.modal').modal('show'))
				
				$('.ui.dropdown').dropdown()
			})
		</script>
	
	</div>
</body>
</html>