<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Classes</title>
</head>
<body>

	<div layout:fragment="title">
		Online Class Management
	</div>
	
	<div layout:fragment="content">
		
		<!-- Search -->
		<div class="ui padded segment">
			<div class="ui header">
				<i class="search icon"></i> Search
			</div>
			
			<div class="ui form">
				<div class="fields">
					
					<div class="field">
						<label>Course</label>
						<input name="course" type="text" placeholder="Search Course" />
					</div>
					
					<div class="field">
						<label>Teacher</label>
						<input name="teacher" type="text" placeholder="Search Teacher" />
					</div>

					<div class="field">
						<label>From</label>
						<input name="from" class="date-input" type="date" placeholder="Date From" />
					</div>

					<div class="field">
						<label>&nbsp;</label>
						<button class="ui animated blue button">
							<div class="visible content">
								Search
							</div>
							<div class="hidden content">
								<i class="search icon"></i>							
							</div>
						</button>
						
						<button id="addBtn" class="ui animated red button">
							<div class="visible content">
								Add New
							</div>
							<div class="hidden content">
								<i class="plus icon"></i>							
							</div>
						</button>
					</div>

				</div>
			</div>
		</div>
		
		
		<!-- List -->
		<table class="ui table">
			
			<thead>
				<tr>
					<th>Course</th>
					<th>Start Date</th>
					<th>Teacher</th>
					<th>Days</th>
					<th>Times</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="c : ${list}">
					<td th:text="${c.course.name}">Java SE</td>
					<td th:text="${c.startDate}">2020/08/01</td>
					<td th:text="${c.teacher.name}">Min Lwin</td>
					<td th:text="${c.days}">Sat - Sun</td>
					<td th:text="${c.times}">13:00 - 18:00</td>
					<td>Available</td>
					<td>
						<a href="#" th:id="${c.id}" onclick="editClass(this.id);return false;">
							<i class="pencil icon"></i>
						</a>
					</td>
				</tr>
				
			</tbody>
		</table>
		
		
		<!-- Modal -->
		<form th:action="@{/office/classes}" method="post" th:object="${dto}" class="ui small modal">
		
			<div class="header" id="modalTitle">Add New Class</div>
			
			<div class="content ui form">
			
				<input type="hidden" th:field="*{id}">
				
				<div class="two fields">
					<!-- Teachers -->
					<div class="field">
						<label >Teacher</label>
						<select id="teacherSelect" name="teacher" class="ui dropdown">
							<option th:each="t : ${teachers}" th:value="${t.id}" th:text="${t.name}"></option>
						</select>
					</div>					
					<!-- Course -->
					<div class="field">
						<label >Course</label>
						<input  th:field="*{code}" placeholder="Enter Course Name" list="courses">
						<datalist id="courses">
							<option th:each="c : ${courses}" th:value="${c.code}" th:text="${c.name}"></option>
						</datalist>
					</div>					
					
				
				</div>	
				
				<div class="two fields">
					<!-- Start Date -->
					<div class="field">
						<label >Start Date</label>
						<input th:field="*{startDate}" type="date" />
					</div>					
					
					
					<div class="field">
						<label>Duration</label>
						<input type="number" th:field="*{duration}" />
					</div>				
				</div>		
				
				<div class="three fields">
					<!-- Days -->
					<div class="field">
						<label >Days</label>
						<input type="text" th:field="*{days}" placeholder="Enter Days" />
					</div>					
					
					<!-- Times -->
					<div class="field">
						<label >Times</label>
						<input type="text" th:field="*{times}" placeholder="Enter Times" />
					</div>					
					
					<!-- Fees -->
					<div class="field">
						<label >Fees</label>
						<input th:field="*{fees}" type="number" placeholder="Enter Fees" />
					</div>					
				
				</div>
				
				
				<!-- Remark -->
				<div class="field">
					<label >Remark</label>
					<textarea th:field="*{requirements}" rows="3"></textarea>
				</div>
			
			</div>
			
			<div class="actions">

				<button type="button" class="ui animated blue cancel button">
					<div class="visible content">Close</div>
					<div class="hidden content">
						<i class="delete icon"></i>
					</div>
				</button>
			
				<button class="ui animated red button">
					<div class="visible content">Save</div>
					<div class="hidden content">
						<i class="save icon"></i>
					</div>
				</button>
			
			</div>
		
		</form>
		
		
	
	</div>

	<div layout:fragment="script">
		<script type="text/javascript" th:src="@{/resources/scripts/class-list.js}"></script>
	</div>

</body>
</html>