<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Classes</title>
</head>
<body>

	<div layout:fragment="title">
		Online Class Management
	</div>
	
	<div layout:fragment="content">
		
		<!-- Search -->
		<div class="ui padded segment">
			<div class="ui header">
				<i class="search icon"></i> Search
			</div>
			
			<div class="ui form">
				<div class="four fields">
					
					<div class="field">
						<label>Course</label>
						<input name="course" type="text" placeholder="Search Course" />
					</div>
					
					<div class="field">
						<label>Teacher</label>
						<input name="teacher" type="text" placeholder="Search Teacher" />
					</div>

					<div class="field">
						<label>From</label>
						<input name="from" type="date" placeholder="Date From" />
					</div>

					<div class="field">
						<label>&nbsp;</label>
						<button class="ui animated blue button">
							<div class="visible content">
								Search
							</div>
							<div class="hidden content">
								<i class="search icon"></i>							
							</div>
						</button>
						
						<button id="addBtn" class="ui animated red button">
							<div class="visible content">
								Add New
							</div>
							<div class="hidden content">
								<i class="plus icon"></i>							
							</div>
						</button>
					</div>

				</div>
			</div>
		</div>
		
		
		<!-- List -->
		<table class="ui table">
			
			<thead>
				<tr>
					<th>Course</th>
					<th>Start Date</th>
					<th>Teacher</th>
					<th>Days</th>
					<th>Times</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Java SE</td>
					<td>2020/08/01</td>
					<td>Min Lwin</td>
					<td>Sat - Sun</td>
					<td>13:00 - 18:00</td>
					<td>Available</td>
					<td></td>
				</tr>
				
			</tbody>
		</table>
		
		
		<!-- Modal -->
		<form action="#" class="ui small modal">
		
			<div class="header">Add New Class</div>
			
			<div class="content ui form">
				
				<div class="three fields">
					<!-- Teachers -->
					<div class="field">
						<label >Teacher</label>
						<select class="ui dropdown"></select>
					</div>					
					<!-- Course -->
					<div class="field">
						<label >Course</label>
						<select class="ui dropdown"></select>
					</div>					
					
					<!-- Start Date -->
					<div class="field">
						<label >Start Date</label>
						<input type="date" />
					</div>					
				
				</div>			
				
				<div class="three fields">
					<!-- Days -->
					<div class="field">
						<label >Days</label>
						<input type="text" placeholder="Enter Days" />
					</div>					
					
					<!-- Times -->
					<div class="field">
						<label >Times</label>
						<input type="text" placeholder="Enter Times" />
					</div>					
					
					<!-- Fees -->
					<div class="field">
						<label >Fees</label>
						<input type="number" placeholder="Enter Fees" />
					</div>					
				
				</div>
				
				
				<!-- Remark -->
				<div class="field">
					<label >Remark</label>
					<textarea rows="3"></textarea>
				</div>
			
			</div>
			
			<div class="actions">

				<button type="button" class="ui animated blue cancel button">
					<div class="visible content">Close</div>
					<div class="hidden content">
						<i class="delete icon"></i>
					</div>
				</button>
			
				<button type="submit" class="ui animated red button">
					<div class="visible content">Save</div>
					<div class="hidden content">
						<i class="save icon"></i>
					</div>
				</button>
			
			</div>
		
		</form>
		
		
		<script>
			$(() => {
				
				$('.ui.modal').modal({
					autofocus: false,
					closable: false
				})
				
				$('#addBtn').click(() => $('.ui.modal').modal('show'))
				
				$('.ui.dropdown').dropdown()
				
			})
		
		</script>
	
	</div>

</body>
</html>