<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/public}">
<head>
<meta charset="UTF-8">
<title>Registrations</title>
</head>
<body>

	<div layout:fragment="title">
		Registration Management
	</div>
	
	<div layout:fragment="content">
		
		<!-- Search -->
		<div class="ui padded segment">
			<div class="ui header">
				<i class="search icon"></i> Search
			</div>
			
			<form  th:action="@{/office/registrations}" class="ui form">
			
				<div class="four fields">
				
					<div class="field">
						<label>Status</label>
						<select name="status" class="ui dropdown" >
							<option value="-1">All</option>
							<option th:each="s : ${statuses}" th:text="${s}" th:selected="${#strings.equals(s, param.status)}" >Apply</option>
						</select>
						
					</div>

					<div class="field">
						<label>Course</label>
						<input th:value="${param.course}" name="course" type="text" placeholder="Search Course" />
					</div>

					<div class="field">
						<label>Student</label>
						<input th:value="${param.student}" name="student" type="text" placeholder="Search Student" />
					</div>
					
					<div class="field">
						<label>&nbsp;</label>
						<button class="ui animated blue button">
							<div class="visible content">
								Search
							</div>
							<div class="hidden content">
								<i class="search icon"></i>							
							</div>
						</button>
					</div>
					

				</div>
			
			</form>
		</div>
		
		<!-- Data List -->
		<table class="ui table">
			<thead>
				<tr>
					<th>Course</th>
					<th>Start Date</th>
					<th>Status</th>
					<th>Student</th>
					<th>Phone</th>
					<th>Email</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="r : ${list}">
					<td th:text="${r.classRoom.course.name}"></td>
					<td th:text="${r.classRoom.startDate}"></td>
					<td th:text="${r.status}"></td>
					<td th:text="${r.student.name}"></td>
					<td th:text="${r.student.phone}"></td>
					<td th:text="${r.student.email}"></td>
				</tr>
			</tbody>
		</table>
		
		<script type="text/javascript">
		
			$(() => $('.ui.dropdown').dropdown())
		</script>
	
	</div>
	
	

</body>
</html>